<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346811623685-s8pf79fat9d58qp6vbjr7rplpm4ghtuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346811623685-s8pf79fat9d58qp6vbjr7rplpm4ghtuf</string>
	<key>API_KEY</key>
	<string>AIzaSyC28fS2gjhNbT1dDKQbtcz9fJ7az-dvoeI</string>
	<key>GCM_SENDER_ID</key>
	<string>346811623685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DevionneLittleton.CheatCodeCalendar</string>
	<key>PROJECT_ID</key>
	<string>cheatcodecalendardb</string>
	<key>STORAGE_BUCKET</key>
	<string>cheatcodecalendardb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:346811623685:ios:1051e2c3fe25ab7133af6c</string>
</dict>
</plist>
